name: Lint
run-name: Lint

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint - Python
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5.0.0
        with:
         python-version: '>=3.9 <=3.13'

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Run Ruff
        run: |
          uv sync --group=dev --all-packages
          uv run ruff check packages/
        shell: bash

      - name: Run Mypy
        run: |
          uv run mypy packages/
        shell: bash
