name: Unit Tests
run-name: Unit Tests

on:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        package:
          - core
          - guardrails
          - instrumentations/openai
          - instrumentations/openai_agents
          - instrumentations/bedrock
          - instrumentations/gemini
          - instrumentations/langchain
          - instrumentations/google-adk
    name: ${{ matrix.package }} - Python ${{ matrix.python-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python ${{ matrix.python-version}}
        uses: actions/setup-python@v5.0.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Run tests
        run: |
          cd ${{ matrix.package }}
          uv run --group=dev --locked pytest
        shell: bash

  tests-litellm:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    name: instrumentations/litellm - Python ${{ matrix.python-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python ${{ matrix.python-version}}
        uses: actions/setup-python@v5.0.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Run LiteLLM tests
        run: |
          cd instrumentations/litellm
          uv run --group=dev --locked pytest
        shell: bash
